body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.aaa{
    color: orange;
    
}
.section{
    background-image: url(images/shapes/Group\ 8448.png);
}

#cd{font-size: 20px;}

ul {font-size: 10px;}

.section{
    display: flex;
    
    
}



.div1{
display: -moz-inline-stack;
 width: 50%;
 padding-left: 8%;
 padding-top: 4%;
 padding-bottom: 5%;
 font-size: 24px;
 color: grey;

 


}

a{
    text-decoration: none;
    background-image: linear-gradient(orange, #F7512C);
    border-radius: 30% ;
    border: 50% solid;
    color: white;
    font-weight: 900;
    font-size: 30px;
    box-shadow: 5px 5px 10px  orange;
    padding: 2%
    ;
}

.img1{
    width: 50%;
    padding: 0;
    
}

 #abir{
    width: 90%;
    height: 90%%;
    padding-top: 8%;
    padding-left: 5%;
    

 }

 .aa{
     display: flex;

    
 }

 #abirr{
     width: 250px%;
    height: 525px;
    padding-left: 30%;
    padding-top:16%;
}

.aa{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.ab{
    padding: 5%;
    padding-left: 20%;
    padding-top:7%;
    
}

#abc{
    font size: 2px;
    color: grey;
    
}

#ad{ color: grey;
    font-size: 50px;
}

.Myrecipies{
    text-align: center;

    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    
    color: grey;
}

.abcd{
    display: flex;
    
    
    margin-left: 5%;
    padding-right: 5%;
    margin: 5px;
    
}

.dab{
    margin: 5px;
    width:300px;
    height: 250px;
    padding-left:5%
    
    
    
}

#ef{
    width:300px;
    height: 250px;
    padding-left: 6%;
    padding-right: 5%;
    

}

#ed{

    width:300px;
    height: 250px;
    padding-left: 7%;
    padding-right:10px ;
    
    

}

.af{
    margin: 2%;
   padding-left: 8%; 
    
}

.fa{
    padding-left: 10%; 
    
}


.fff{
    margin-right: 5%;
    
    box-shadow: 5px 5px 30px ;
    padding-bottom: 10px;
padding-top: 30px;

padding-right:10px;

border: 1px solid;
border-radius: 8%;
margin-bottom: 5%;
width: 50%;
margin-left: 3.4%;


}






.jjjjj{
    
    display: flex;
    
    font-size: 30px;
    padding-right: 10%;
    text-align: center;
    margin: 5 px;
    
    background-color: rgb(252, 250, 250);
    box-shadow: -5px -5px 20px;
    width: 80%;
    
    margin-left:5%;
    height:260px;
    
       
}

.nnnnn{
    padding-right: 10%;
    padding-left:14%;
    
   

    
}

.sectionfour{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 5%;
}

#ww{
    color:tomato;
}

#rr{
    color: grey;

}
  



    
   

