body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.aaa{
    color: orange;
    
}

p{font-size: 20px;}

ul {font-size: 10px;}

.section{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}

.div1{
display: -moz-inline-stack;
 width: 50%;
 padding-left: 5%;
 padding-top: 6%;
 padding-bottom: 5%;
 font-size: 25px;
 color: grey;

 


}

a{
    text-decoration: none;
    background-image: linear-gradient(orange, #F7512C);
    border-radius: 10% 20% ;
    border: 50% solid;
    color: white;
    font-weight: 500;
}

.img{
    width: 50%;
    padding: 5% 40%% 20% 20% ;
    
    
    
    

}
